<!DOCTYPE html>
<html>
  <head>
    <title>Omgmovies</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/54b25124c1.js"></script>
    <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
     <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster' => "all" %>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
